[submodule "themes/creative-portfolio"]
	path = themes/creative-portfolio
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme
[submodule "themes/mero"]
	path = themes/mero
	url = https://github.com/darshanbaral/mero
